body {
    margin: 0;
    background-color: #F2F5FF;
    font-family: 'Inter', sans-serif;
}

.images-container {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    padding-top: 30px;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin-bottom: 24px;
}

.header-title {
    font-size: 16px;
    font-weight: 700;
    color: #0B0B0B;
}

.header-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: #0B0B0B;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 36px;
}

.tab {
    font-size: 20px;
    font-weight: 700;
}

.tab.active {
    color: #0060FF;
    text-decoration: none;
}

.tab.inactive {
    color: #ADC0F8;
    text-decoration: none;
}

.user_image {
    max-width: 90%;
    height: 500px;
    margin-top: 20px;
}

a {
    margin-top: 20px;
    text-decoration: none;
    color: #4676FB;
    font-weight: bold;
}